.venv/
.vscode/
__pycache__/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
*.egg-info/
docs/
image/

artifacts/models/*
artifacts/metrics/*
artifacts/predictions/*
artifacts/mlflow/*
artifacts/mlflow/*.log
artifacts/metadata/*
!artifacts/models/.gitkeep
!artifacts/metrics/.gitkeep
!artifacts/predictions/.gitkeep
!artifacts/mlflow/.gitkeep
!artifacts/metadata/.gitkeep

data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

data/raw/condition_monitoring_of_hydraulic_systems/*
!data/raw/condition_monitoring_of_hydraulic_systems/.gitkeep
ressources/archives/*
ressources/sujet/*
!ressources/archives/.gitkeep
!ressources/sujet/.gitkeep

.DS_Store
Thumbs.db
